<div
   style="
   font-family: Arial, Helvetica, sans-serif;
   display: flex;justify-content: center;flex-direction: column;align-items: center;width: 100%;background-color: #343434;margin: 0;padding: 1rem;">

   <a href="https://rlujancreations.es/" target="_blank"><img
            src="https://raw.githubusercontent.com/kmorfo/Notificator/main/gitImages/rlujanlogo.png" width="300"
            alt="RLujanCreations Logo" /></a>

   <div style="background-color: rgb(245, 245, 245); padding: 1em;border-radius: 5px;max-width: 600px;margin: 1rem 0;">

      <p><strong>¡Hola!</strong> {{ name }},</p>
      <p>Ha recibido este mensaje porque se solicitó la verificación de su email.</p>
      <p style="display: flex;justify-content: center;">
            <a href={{urltoken}}
               style="box-shadow: 1px 1px 5px black; display:inline-block;padding: 1rem; border-radius: 5px; background-color: #b92929; color: white;text-decoration: none;font-weight: bold;">
               Verificar Email</a>
      </p>
      <p>Este enlace de verificación expirará en 60 minutos.</p>
      <p>Si no ha solicitado verificación de su email para esta APP, omita este mensaje de correo electrónico.</p>
      <p>Saludos,<br>TesloApp</p>
      <div style="border-top: 1px solid grey; padding: 1rem; max-width: 550px;">
            <p style="color: #646262;">
               Si está teniendo problemas al hacer clic en el botón "Verificar Email", copie y pegue la URL
               de
               abajo en su navegador web: <br>
               <span style="color: blue;overflow-wrap: break-word;">
                  {{urltoken}}              
               </span>
            </p>
      </div>
   </div>
</div>